<%= link_to restaurant_path(restaurant), :action => 'go' do %>
  <div class="card-product">
    <img src="https://picsum.photos/200">
    <div class="card-product-infos">
      <h2><%=restaurant.name%></h2>
      <p><%=restaurant.address%></p>
      <div class="coeur">
        <% if restaurant.favorite?(current_user) %>
          <i class="fa-solid fa-heart text-dark"></i>
        <% else %>
          <i class="fa-regular fa-heart text-dark"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
