<div class="card-product">
  <%= link_to restaurant_path(restaurant) do %>
    <img src="https://picsum.photos/200">
    <div class="card-product-infos">
      <h2><%=restaurant.name%></h2>
      <p><%=restaurant.address%></p>
      <%= link_to toggle_favorite_restaurant_path(restaurant), remote: true, method: :post do %>
        <% if current_user.favorited?(restaurant) %>
          <i class="fa-solid fa-heart" target="_blank"></i>
        <% else %>
            <i class="fa-regular fa-heart" target="_blank"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
