<div class = container>
  <h1>Restaurants#show</h1>
  <div class="card-trip">
    <img src="https://picsum.photos/800" />
    <div class="card-trip-infos">
      <div>
        <h2><%=@restaurant.name%></h2>
        <p><%=@restaurant.description%></p>
      </div>
      <h2 class="card-trip-pricing">444</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
